In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# A numpy array
arr = np.random.randn(4) # random values from std normal distribution
print(type(arr)) #class: normal distribution array
print(arr, "\n")

# A pandas series made from the previous array
s = pd.Series(arr) 
print(type(s))#class: series
print(s)

### The basic method to create a pandas.Series is to call
s = pd.Series(data, index=index)

In [ ]:
# Creating a series from a numpy array 
pd.Series(np.arange(3), index=[2023, 2024, 2025])

In [ ]:
#Creating a pandas series from a list

# A series from a list of strings with default index
pd.Series(['EDS 220', 'EDS 222', 'EDS 223', 'EDS 242'])

In [ ]:
# Creating a pandas series from a dictionary

# Construct dictionary
d = {'key_0':2, 'key_1':'3', 'key_2':5}

# Initialize series using a dictionary
pd.Series(d)

In [ ]:
#Creating a pandas.Series from a single value 

pd.Series(3.0, index = ['A', 'B', 'C'])

In [ ]:
# Define a series
s = pd.Series([98,73,65],index=['Andrea', 'Beth', 'Carolina'])

# Divide each element in series by 10
print(s /10, '\n')

# Take the exponential of each element in series
print(np.exp(s), '\n')

# Original series is unchanged
print(s)

In [ ]:
# Produce a new pandas.Series with True/False values indicating whether the elements in a series satisfy a condition or not:

s > 70

In [ ]:
# Construct a series with NAs in it

s = pd.Series([1, 2, np.nan, 4, np.nan])
s

In [ ]:
# Check if series has NAs

s.hasnans

In [ ]:
#Detect which elements in the series are NAs

s.isna()

## Check in 1

In [ ]:
myseries = pd.Series([0.25, -999, 0.75, -999], index = ['A','B','C','D'])
print(s)

myseries.mask(s == -999)

# Creating a pandas dataframe

In [ ]:
# Initialize dictionary with columns' data 
d = {'col_name_1' : pd.Series(np.arange(3)),
     'col_name_2' : pd.Series([3.1, 3.2, 3.3]),
     }

# Create data frame
df = pd.DataFrame(d)
df

In [ ]:
# Change index attribute in the dataframe
df.index = ['a','b','c']
df

# Check in 2