# Subsetting

Review core methods to select data from a `pandas.DataFrame`

## Read in CSV

In [2]:
import pandas as pd

# Read in file, argument is the file path
df = pd.read_csv('data/wetlands_seasonal_bird_diversity.csv')

In [2]:
#Print data frame's first five rows
print(df.head())

#Print dataframe's last five rows
print(df.tail())

#Print the dataframe's column names
print(df.columns)

#Print the dataframe's column data types
print(df.dtypes)

#Print the dataframe's dimension
print(df.shape)

   year  CSM_winter  CSM_spring  CSM_fall  MUL_winter  MUL_spring  MUL_fall  \
0  2010        39.0        40.0      50.0        45.0         NaN      61.0
1  2011        48.0        44.0       NaN        58.0        52.0       NaN
2  2012        51.0        43.0      49.0        57.0        58.0      53.0
3  2013        42.0        46.0      38.0        60.0        58.0      62.0
4  2014        38.0        43.0      45.0        49.0        52.0      57.0

   SDW_winter  SDW_spring  SDW_fall  TJE_winter  TJE_spring  TJE_fall
0         NaN        75.0      85.0         NaN         NaN      81.0
1        78.0        74.0       NaN        67.0        70.0       NaN
2        71.0        72.0      73.0        70.0        63.0      69.0
3        69.0        70.0      70.0        69.0        74.0      64.0
4        61.0        78.0      71.0        60.0        81.0      62.0
    year  CSM_winter  CSM_spring  CSM_fall  MUL_winter  MUL_spring  MUL_fall  \
9   2019        39.0        39.0      40.0        57.0        52.0      53.0
10  2020        46.0         NaN      47.0        56.0         NaN      66.0
11  2021        47.0        44.0      53.0        54.0        55.0      60.0
12  2022        40.0        46.0      49.0        60.0        55.0      65.0
13  2023        56.0        43.0      36.0        72.0        59.0      53.0

    SDW_winter  SDW_spring  SDW_fall  TJE_winter  TJE_spring  TJE_fall
9         54.0        55.0      53.0        63.0        54.0      50.0
10        57.0         NaN      58.0        54.0        40.0      54.0
11        57.0        58.0      57.0        53.0        68.0      51.0
12        57.0        60.0      57.0        60.0        61.0      60.0
13        64.0        63.0      33.0        60.0        56.0      38.0
Index(['year', 'CSM_winter', 'CSM_spring', 'CSM_fall', 'MUL_winter',
       'MUL_spring', 'MUL_fall', 'SDW_winter', 'SDW_spring', 'SDW_fall',
       'TJE_winter', 'TJE_spring', 'TJE_fall'],
      dtype='object')
year            int64
CSM_winter    float64
CSM_spring    float64
CSM_fall      float64
MUL_winter    float64
MUL_spring    float64
MUL_fall      float64
SDW_winter    float64
SDW_spring    float64
SDW_fall      float64
TJE_winter    float64
TJE_spring    float64
TJE_fall      float64
dtype: object
(14, 13)

In [3]:
# Select a single column by using square brackets []
mul_spring = df['MUL_spring']

# Print first five elements in this column
mul_spring.head()

0     NaN
1    52.0
2    58.0
3    58.0
4    52.0
Name: MUL_spring, dtype: float64

In [4]:
# Check the type of the ouput
print(type(mul_spring))

<class 'pandas.core.series.Series'>

Label-based subsetting of a single column using attribute syntax. 
`df.column_name`

Favor `df['column_name']` instead of `df.column_name`
Why?
The second can be prone to making syntax mistakes, can be the same name as an attribute or a method.

In [6]:
df.MUL_spring.head()

0     NaN
1    52.0
2    58.0
3    58.0
4    52.0
Name: MUL_spring, dtype: float64

`df[['column_1', 'column_10', 'column_245']]`

This is an example  of label based selection. You are selecting the name of the columns rather than using their index location.

## Selecting multiple columns 

```
df[ ['column1', 'column2', 'column245']]
```

In [7]:
# Select columns with names "TJE_winter" and "TJE_fall"
tje_wf = df[['TJE_winter','TJE_fall']]

In [10]:
print(tje_wf.shape)
print(tje_wf.dtypes)
print(type(tje_wf))

(14, 2)
TJE_winter    float64
TJE_fall      float64
dtype: object
<class 'pandas.core.frame.DataFrame'>

## ... using a slice
To select a slice of the columns we will use a special case of 'loc' selection. 

- the first value passed to loc is used to select rows, using a `:` as the row selection parameter means "select all the rows"

`df.loc[ : , 'column_start':'column_end']`

In [12]:
# Select columns between 'CSM_winter' and 'MUL_fall'
csm_mul = df.loc[:,'CSM_winter':'MUL_fall']
csm_mul.head()

   CSM_winter  CSM_spring  CSM_fall  MUL_winter  MUL_spring  MUL_fall
0        39.0        40.0      50.0        45.0         NaN      61.0
1        48.0        44.0       NaN        58.0        52.0       NaN
2        51.0        43.0      49.0        57.0        58.0      53.0
3        42.0        46.0      38.0        60.0        58.0      62.0
4        38.0        43.0      45.0        49.0        52.0      57.0

## Selecting rows using a condition

The `condition_on_rows` can be many things

In [13]:
# Select all rows with year > 2020
post_2020 = df[df['year']>2020]
post_2020

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
12,2022,40.0,46.0,49.0,60.0,55.0,65.0,57.0,60.0,57.0,60.0,61.0,60.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

Condition for our rows = `df['year']>2020` is a pandas.Series with **boolean values** (True or False) indicates which rows satisfy the condition year>2020

In [14]:
# Check the type of df['year']>1996
print(type(df['year']>2020))

# Print the boolean series
df['year']>2020

<class 'pandas.core.series.Series'>

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12     True
13     True
Name: year, dtype: bool

### VCheck-in: 
Get the subset of the data frame on which the San Dieguito Wetland has at least 75 species recorded during spring.

In [15]:
type(df['SDW_spring']>=75)

pandas.core.series.Series

In [16]:
df['SDW_spring']>=75

0      True
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
Name: SDW_spring, dtype: bool

In [17]:
SDW_75 = df[df['SDW_spring']>=75]
SDW_75

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
0,2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0

### Example:
Look at data from years 2012 to 2015 (including both years)

In [18]:
subset = df[df['year'].between(2012, 2015)]
subset

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
3,2013,42.0,46.0,38.0,60.0,58.0,62.0,69.0,70.0,70.0,69.0,74.0,64.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0
5,2015,44.0,42.0,45.0,58.0,50.0,51.0,71.0,61.0,65.0,73.0,76.0,64.0

- `df['year']` = column with year values, this is a `pandas.Series`
- `df['year'].between()` = `between()` is a method for the pandas.Series, calling it using `.`
- (2012, 2015): parameters. If we look at the documentation, we see that the method includes both endopoints. 
- `df['year].between(2012,2015)' = pandas.Series of boolean values  indicating which rows haver year equal to 2012, 2013, 2014, 2015
- When you write the command, you get the tows you need. 

## Avoid using `loc` for selecting only rows

It is equivalent to wrie

```
df[df['year']<2015]
```

and

```
df.loc[df['year']<2015,:]
```
- Using `df.loc[row-selection, column-selection]`
- In the second one, the row selection is the condition `df['year']<2015`
- The column selection is `:` = all columns

## Selecting rows using multiple conditions

Combine conditions to select rows by surrounding each in parenthesis `()` and using the or operator `|` and the operator `&`.

### Example: or

In [21]:
df[ (df['CSM_winter']>50) | (df['CSM_fall']>50)]

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

### Example: and

Select rows in which CSM and SDW have more than 60 bird species during spring.

In [22]:
df[ (df['CSM_spring']>60) & (df['SDW_spring']>60)]

Empty DataFrame
Columns: [year, CSM_winter, CSM_spring, CSM_fall, MUL_winter, MUL_spring, MUL_fall, SDW_winter, SDW_spring, SDW_fall, TJE_winter, TJE_spring, TJE_fall]
Index: []

## Selecting rows by position
`df.iloc[row-indices]`

In [24]:
# Select the fifth row (index=4)
df.iloc[4]

year          2014.0
CSM_winter      38.0
CSM_spring      43.0
CSM_fall        45.0
MUL_winter      49.0
MUL_spring      52.0
MUL_fall        57.0
SDW_winter      61.0
SDW_spring      78.0
SDW_fall        71.0
TJE_winter      60.0
TJE_spring      81.0
TJE_fall        62.0
Name: 4, dtype: float64

In [25]:
# Select rows 9 through 13, inclduing 13
df.iloc[9:14]

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
9,2019,39.0,39.0,40.0,57.0,52.0,53.0,54.0,55.0,53.0,63.0,54.0,50.0
10,2020,46.0,NaN,47.0,56.0,NaN,66.0,57.0,NaN,58.0,54.0,40.0,54.0
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
12,2022,40.0,46.0,49.0,60.0,55.0,65.0,57.0,60.0,57.0,60.0,61.0,60.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

## Selecting rows and columns simultaneously by labels or conditions

### Selecting rows and columns simultaneously by label

`df.loc[ row-selection , column-selection]`

#### Example:
Select winter surveys for Mugu Lagoon and Tijuana Estuary after 2020

In [27]:
df.loc[df['year']>2020, ['MUL_winter','TJE_winter']]

    MUL_winter  TJE_winter
11        54.0        53.0
12        60.0        60.0
13        72.0        60.0

### Selecting rows and columns simultaneously by position 

`df.iloc[ row-indices, column_indices]`

#### Example:
Select rows 3 to 7 (including 7) and 4th and 5th columns

In [29]:
df.iloc[3:8, [3,4]]

   CSM_fall  MUL_winter
3      38.0        60.0
4      45.0        49.0
5      45.0        58.0
6      47.0        63.0
7      43.0        57.0

## `iloc` column selection
 ### Ex.
 
 Access the 9th column in df.

In [3]:
df.iloc[:,8]

0     75.0
1     74.0
2     72.0
3     70.0
4     78.0
5     61.0
6     62.0
7     45.0
8     49.0
9     55.0
10     NaN
11    58.0
12    60.0
13    63.0
Name: SDW_spring, dtype: float64

Ways it makes code less reproducible or difficult.

- Makes it hard to understand to what variable you are isolating for, precisely.